body{
    background-color: white;
    color: #222;
    margin: auto;
    margin-top: 3rem;
    font-family: ubuntu;
}
p{
    line-height: 1.6em;
}
article + article{
    border-top: 1px solid grey;
    margin-top: 3rem;
    padding-top: 3rem;
}
.contact-form{
    max-width: 400px;
    margin: auto;
}